/* -----------for all---------- */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.scrollable {
    width: 200px;
    height: 70px;
    margin: 0;
    padding: 0;
    overflow: scroll;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: auto;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.form-center{
    /* align-items: center; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
}

.yes-message{
    color: #32ff7e;
}

.no-message{
    color: #ff4d4d;
}

.success{
    color: blue;
}

.error{
    color: red;
}
/* --------------------- */

/* ---------------buttons---------- */
.btn-primary{
    background-color: #0984e3;
    padding: 1%;
    color: white;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #74b9ff;
}


.btn-secondary{
    background-color: #00b894;
    padding: 1%;
    color: white;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #55efc4;
}


.btn-danger{
    background-color: #d63031;
    padding: 1%;
    color: white;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff7675;
}
/* ---------------------------- */



/* -------------menu----------- */
.menu{
    text-align: center;
    /* background-color: #ffeaa7; */
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    font-weight: bold;
    color: #ff7675;

}

.menu ul li a:hover{
    color: #a29bfe;
}
/* -------------------------- */





/* ----------main content---------- */
.main-content{
    padding: 3% 0;
    background-color: #dfe6e9;
    align-items: center;
}

.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* ---------------------- */


/* -----------footer---------- */
.footer{
    background-color: #a29bfe;
    color: white;
}
/* ------------------------------ */



